/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  color: #fff;
}

body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  margin: 20px;
}

main {
  padding: 20px;
}

p {
  color: white;
}

/* Header Styles */
.App-header {

  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Main Styles */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}

/* Form Styles */
form {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #121481;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #FFB1B1;
}