/* Global Styles */



/* Header Styles */
.App-header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Main Styles */
.App {
  text-align: center;
  padding-top: 50px;
  background-color: #000;
  color: #fff;
}

/* Form Styles */
form {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* Buton stilleri */
button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #4b0082;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #483d8b;
}

button:focus {
  outline: none;
}

/* Message Styles */
p {
  color: red;
}